.header{
  height: 55px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(226, 224, 224);
  color: black;
  width: 100%;
  margin-bottom: 250px;
 
}
 
 .middle-section:hover{
  text-decoration: underline;
  cursor: pointer;
}

.right-section:hover{
  text-decoration: underline;
  cursor: pointer;
}

.logo{
height: 50px;
width: 50px;
margin-left: 5px;
margin-top: 10px;
background-color: white;
border-radius: 25px;
}


.middle-section{
text-decoration: none;
margin-left: 500px;

}

.right-section{
text-decoration: none;
margin-left: 200px;
text-decoration: none;
}

.name-profile{
  vertical-align: middle;
  margin-top: 100px;
margin-left: 710px;
margin-right: 350px;
text-align: center;
font-size: 40px;
color: red;
padding-left: 5px;
padding-right: 5px;
  }

  .profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  }


.profile-picture{
 
  display: inline-block;
  height: 200px;
  border-radius: 100px;
  margin-right: 40px;
  margin-bottom: 80px;

  } 

  p{
    width: 500px;
    border: 1px solid black;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    margin-left: 220px;
    margin-bottom: 100px;
    
    
  }



.input{
 
  background-color: yellow;
  
}

.name{
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  
}

.email{
  border-radius: 5px;
}


.paragraph{
  background-color: pink;
  margin-bottom: 50px;
 
}

p{
  background-color: lightblue;
  display: inline-block;
  vertical-align:middle ;
  width: 700px;
  margin-left: 50px;
}

.buttons-section{
 
  display: inline-block;
  margin-left: 100px;
  
}

/* this section from signup form 
we can use display: inline-block for both first-name and last-name 
*/ 


input{
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid rgb(200, 200, 200);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 7px;
  margin-bottom: 12px;
}


.first-name-style{
width: 148px;
}


.last-name-style{
width: 148px;
}


.email-style{
display: block;
width: 334px;
}



.signup-button{
display: block;
text-align: center;
color: #fffbfb ;
font-weight: bold;
font-size: 18px;
background-color: rgb(47, 127, 231);;
width: 367px;
border: none;
cursor: pointer;
border-radius: 8px;
padding-top: 14px;
padding-bottom: 14px;
}

/* this section for requesting a ride*/ 

.uber-form{
margin-bottom: 200px;

}


.uber-form input{
width: 334px;
border-radius: 0px;
padding-top: 10px;
padding-bottom: 10px;
background-color: rgb(238, 235, 235);

}

.pickup{
display: block;
}
.destination{
  display: block;
}

.Request-button{
background-color: black;
color: white;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;



}

.Schedule-button{
  background-color: rgb(238, 235, 235);
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  

}


.footer{
  height: 70px;
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   background-color: lightgray;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   padding-bottom: 20px;
 
   
 }
